@font-face {
  font-family: PwcFont;
  src: url(./Fonts/HelveticaNeueLTPro-Md.ttf);
}
.layout{
  color: white;
  font-family: PwcFont;
  text-align: center;
  background-color: rgb(255, 77, 0);
  display: flex;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.Loginri{
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
color:black;
font-size: 17px;
font-family: PwcFont;
background-color: orange;
padding: 20px;
border: inset;
border-radius: 5px;
}
.login{
  color: white;
  font-family: PwcFont;
  width: 100%;
  margin-top: 5%;
  margin-left: 102%;
  padding-left: 10vh;
  padding-right: 10vh;
  font-size: 20px;
  background-color: rgb(255, 111, 0); 
}
.Up{
  background-color: rgb(255, 55, 0);
}

.login-submit{
  color: white;
  font-family: PwcFont;
  width: 149.5%;
  margin-top: 5%;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(34, 0, 255);
  border-radius: 5px;
}
.App {
  background-color: white;
  display:flex ;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  background-color: rgb(255, 136, 0);
  width: 350px;
  padding: 10px;
  padding-right: 30vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: PwcFont;
  color: white;
  border-radius: 10px;
  border: outset;
}
.top{
  color:white;
  font-family: PwcFont;
  background-color: #ff8000;

}

.signin{
  margin-left: 30vh;
  color: black;
  font-family: PwcFont;
  font-size: 35px;
  display: flex;
  justify-content: center;

}
.Email{
  color: black;
  margin-bottom: 10px;
  margin-top: 10px ;
  margin-right: 0;
}
.pass{
  color: black;
  margin-bottom: 5px;
  margin-right: 0;
}
.holder{

  padding-right: 90%;
}

.App-link {
  text-decoration: underline;
  border: 0;
  background-color: white;
  color: #6166fb;
  font-size: 17px;
  font-family: PwcFont;
  
}

